[Unit]
Description=Monero Daemon
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/opt/monero/build/release/bin/monerod --data-dir /opt/monero-data-dir --log-file /opt/monero-data-dir/bitmonero.log  --pidfile /opt/monero-data-dir/monerod.pid --rpc-bind-ip 127.0.0.1 --detach --restricted-rpc
PIDFile=/opt/monero-data-dir/monerod.pid
Restart=always
User=monero

[Install]
WantedBy=multi-user.target
